<div class="banner">
  <div class="d-inline-flex w-100">
    <div style="width:100%;margin-left: auto;">
      <div style="float: left;">
        <h4 class="my-auto" style="padding-top: 20px;"><b>Booking Details -> View Employee</b></h4>
      </div>
      <div style="float: right;">
        <mat-list>
          <mat-list-item
            style="background-color: white !important; border-radius: 25px;width: 200px !important;height: 35px;">
            <mat-icon mat-list-icon>search</mat-icon>
            <input matInput mat-line placeholder=" Search.."> &nbsp;&nbsp;
          </mat-list-item>
        </mat-list>

      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container ">
  <div class="container-fluid" style="margin-top: -4.0rem; margin-bottom: 2rem;">
    <mat-card style="box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
          border-radius: 16px;">
      <h4></h4>
      <div style="float:right">
        <a mat-button style="background-color: var(--danger); color: white;" (click)="redirectToEdit(obj.id)"
          target="_blank">Edit</a>

      </div>
      <form>
        <div id="customerDetails" style="overflow-x: auto;">
          <h3><b>Employee Details</b></h3>
          <hr>
          <table style="width: 100%;" class="mat-table">
            <tr>
              <td style="padding-bottom: 5px;"><strong>Employee Id : </strong> {{obj.employeeId}} </td>
              <td style="padding-bottom: 5px;"><strong>Employee Name : </strong> {{obj.employeeName}}</td>
              <td style="padding-bottom: 5px;"><strong>Employee DOB : </strong> {{obj.employeeDob}} </td>
            </tr>
            <tr>
              <td style="padding-bottom: 5px;"><strong>Employee Area : </strong> {{obj.employeeArea}}</td>
              <td style="padding-bottom: 5px;"><strong>Employee Status : </strong> {{obj.employeeStatus}}</td>
            </tr>
            <tr>
              <td style="padding-bottom: 5px;"><strong>Employee Mobile No. : </strong> {{obj.employeeMobileNo}}</td>
              <td style="padding-bottom: 5px;"><strong>Employee Email Address : </strong> {{obj.employeeEmailAddress}}
              </td>
              <td style="padding-bottom: 5px;"><strong>Employee Address : </strong> {{obj.employeeAddress}}</td>
            </tr>
            <tr>
              <td style="padding-bottom: 5px;"><strong>Employee City : </strong> {{obj.employeeCity}}</td>
              <td style="padding-bottom: 5px;"><strong>Employee State : </strong> {{obj.employeeState}}</td>
              <td style="padding-bottom: 5px;"><strong>Employee Country : </strong> {{obj.employeeCountry}}</td>
            </tr>

          </table>

          <br>




        </div>
      </form>
    </mat-card>

  </div>

</div>